* {
	box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    background-color: #22254b;
    display: flex;
    flex-direction: column;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.book {
    width: 300px;
    height: 500px;
    margin: 1rem;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #373b69;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

.book img {
    height: 85%;
    width: 100%;
}

.book-info {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.book-info h3 {
    margin: 0;
}

.book-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #22254b;
    padding: 1rem;
    overflow: auto;
    max-height: 50%;
    transform: translateY(201%);
    transition: transform 0.3s ease-in-out;
    -ms-overflow-style: none;
  	scrollbar-width: none;
}

.book:hover .book-over {
	transform: translateY(70%);
}

.book-over::-webkit-scrollbar {
	display: none;
}